@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "Avenir";
  font-weight: bold;
  src: url("../assets/fonts/AvenirLTStd-Black.otf") format("opentype");
}
